# workspace files
.obsidian/workspace.json
.obsidian/mobile-workspace.json

# themes
.obsidian/themes

# plugins content
.obsidian/plugins/*/*.js
.obsidian/plugins/*/*.css
.obsidian/plugins/*/manifest.json

# macOS
.DS_Store
